// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// @if variable-exists(brandColor) {
//   $brand-primary: $brandColor !default;
// }

@if variable-exists(warningColor) {
  $brand-warning: $warningColor;
}
@if variable-exists(dangerColor) {
  $brand-danger: $dangerColor;
}

$custom-control-indicator-bg: transparent !default;
$custom-control-indicator-border-color: #ddd;
@if variable-exists(textColor) {
  $custom-control-indicator-border-color: $textColor;
}